.comment {
  max-width: 97%;
  height: 7em;
}

.margin-min {
    margin: 1em;
}

.user-in {
  width: auto;
}
.send-btn {
  margin-left: 1em;
  margin-bottom: 1em;
}
.margin-out {
  margin-bottom: 0px;
}

.back-btn {
  margin-left: 2em;
  margin-bottom: 1em;
}
