<div class="panel panel-info panel-margin">
  <div class="panel-heading">
    <h1>Reddit Newest Articles</h1>
  </div>
  <div class="panel-body">
    <b>  Application shows Reddit's the newest articles.<br>
      You can click on it and see the content but if the article is in external domain you can see it by clicking on the link.<br>
      There is a place to comment articles but unfortunately it doesn't really send it the to the serwer.
    </b>
  </div>
  <div class="list-group">
    <button class="list-group-item" ng-click="showArticle(article)" ng-repeat="article in reddit.reddits">
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
            <img class="media-object max-size" ng-src="{{article.data.thumbnail}}" onerror="this.src='img/default-image.jpg'">
          </a>
        </div>
        <div class="media-body">
          <h3 class="margin-zero">{{article.data.title}}</h3>
          <h4> author: {{article.data.author}}</h4>
          <h5> domain: {{article.data.domain}}</h5>
        </div>
      </div>
    </button>
  </div>
  <div class="panel-footer">
    <b> Author: Laylan </b>
    <br>
    <a href="https://github.com/Laylan"> Link to gitHub</a>
  </div>
</div>
